<app-map-common
    (newMarkerEmitter)="newMarker($event)"
    [markerLayersEventHandler]="updateLayerEvent.asObservable()"
></app-map-common>

<div class="sideBarContainer">
    <div class="sideBarContainer__mapInfo">
        <div class="sideBarContainer__mapInfo__userInfo">
            <div class="sideBarContainer__mapInfo__userInfo__titleContainer">
                <div class="sideBarContainer__mapInfo__userInfo__titleContainer--mapName">{{currentMap.map_name}}</div>
                <div class="sideBarContainer__mapInfo__userInfo__titleContainer--userName">by {{currentMap.owner}}</div>
            </div>
            <div class="sideBarContainer__mapInfo__userInfo__photoContainer">
                <div class="sideBarContainer__mapInfo__userInfo__photoContainer--proPic"></div>
            </div>
        </div>
        <div class="sideBarContainer__mapInfo__linkViews">
            <div class="sideBarContainer__mapInfo__linkViews--socialLink">
                <!-- Queste due poi si mettono dinamiche con *ngFor -->
                <div class="sideBarContainer__mapInfo__linkViews--socialLink--instagramIcon"></div>
                <div class="sideBarContainer__mapInfo__linkViews--socialLink--telegramIcon"></div>
            </div>
            <div class="sideBarContainer__mapInfo__linkViews--viewsCheck">
                <div class="sideBarContainer__mapInfo__linkViews--viewsCheck--viewsCount">{{currentMap.views}} views</div>
                <div class="sideBarContainer__mapInfo__linkViews--viewsCheck--lastCheck">last check was at {{currentMap.last_check}}</div>
            </div>
        </div>
    </div>
    <div class="sideBarContainer__tools">
        <div class="sideBarContainer__tools__myLocationButton" (click)="getCurrentPosition()">
            <div class="sideBarContainer__tools__myLocationButton--icon"></div>
        </div>
        <div class="sideBarContainer__tools__leftButtons">
            <div class="sideBarContainer__tools__leftButtons__addMarkerButton" (click)="newTrack()"></div>
            <div class="sideBarContainer__tools__leftButtons__addLayerButton" (click)="newLayer()"></div>
        </div>
        <div class="sideBarContainer__tools__rightButtons">
            <div class="sideBarContainer__tools__rightButtons__previewButton"></div>
            <div class="sideBarContainer__tools__rightButtons__shareButton"></div>
        </div>
    </div>
    <div class="sideBarContainer__layerContainer">
        <div class="sideBarContainer__layerContainer__layer"
            *ngFor="let layer of currentMap.layers"
            (click)="selectLayer(layer)"
            [ngStyle]="{'margin-left': (layer.id===activedLayer) ? '65px': '40px'}"
        >
            <div class="sideBarContainer__layerContainer__layer__layerInfo" [ngStyle]="{'border-bottom': (layer.markers.length == 0) ? 'none' : 'solid 1px rgba(0, 0, 0, 0.267)'}">
                <div class="sideBarContainer__layerContainer__layer__layerInfo__checkName">
                    <div class="sideBarContainer__layerContainer__layer__layerInfo__checkName--checkBox"
                        [ngStyle]="{'background-image': layer.checked ? 'url(\'../../../assets/icons/check.png\')' : 'url(\'../../../assets/icons/blank-check-box.png\')'}"
                    ></div>
                    <div class="sideBarContainer__layerContainer__layer__layerInfo__checkName--layerName" contenteditable="true">{{layer.name}}</div>
                </div>
                <div class="sideBarContainer__layerContainer__layer__layerInfo--deleteLayer" (click)="deleteLayer(layer.id)"></div>
            </div>
            <div class="sideBarContainer__layerContainer__layer__markerList" *ngFor="let marker of layer.markers">
                <div class="sideBarContainer__layerContainer__layer__markerList__markerName">
                    <div class="sideBarContainer__layerContainer__layer__markerList__markerName--icon"></div>
                    <div class="sideBarContainer__layerContainer__layer__markerList__markerName--markerName">{{marker.name}}</div>
                </div>
                <div class="sideBarContainer__layerContainer__layer__markerList--deleteMarkerButton"></div>
            </div>
        </div>
    </div>
    
    <div class="sideBarContainer__searchBarContainer">
        <form [formGroup]="searchForm" (ngSubmit)="searchInput('')">
            <input
                class="sideBarContainer__searchBarContainer__searchInput"
                type="text"
                placeholder="Search your favourite public toilette..."
                formControlName="searchFormInput"
            >
        </form>
    </div>

    <div class="sideBarContainer__suggestionContainer" *ngIf="showSuggestionContainer">
        <div class="sideBarContainer__suggestionContainer__suggestionRow"
            *ngFor="let suggestion of suggestionsResult"
            (click)="searchInput(suggestion.id)"
        >
            <div class="sideBarContainer__suggestionContainer__suggestionRow--title">{{suggestion.title}}</div>
            <div class="sideBarContainer__suggestionContainer__suggestionRow--detail"><i>{{suggestion.detail}}</i></div>
        </div>
    </div>
</div>

<app-new-marker-modal
    [toggleModal]="toggleModal"
    [newMarkerInfo]="tempNewMarker"
    (closeModalEvent)="closeModal($event)"
    (saveMarkerEvent)="saveMarkEvent($event)"
></app-new-marker-modal>