<app-map-common></app-map-common>
<div class="sideBarContainer">
    <div class="sideBarContainer__mapInfo">
        <div class="sideBarContainer__mapInfo__userInfo">
            <div class="sideBarContainer__mapInfo__userInfo__titleContainer">
                <div class="sideBarContainer__mapInfo__userInfo__titleContainer--mapName">My first map</div>
                <div class="sideBarContainer__mapInfo__userInfo__titleContainer--userName">by Pam4k4</div>
            </div>
            <div class="sideBarContainer__mapInfo__userInfo__photoContainer">
                <div class="sideBarContainer__mapInfo__userInfo__photoContainer--proPic"></div>
            </div>
        </div>
        <div class="sideBarContainer__mapInfo__linkViews">
            <div class="sideBarContainer__mapInfo__linkViews--socialLink">
                <!-- Queste due poi si mettono dinamiche con *ngFor -->
                <div class="sideBarContainer__mapInfo__linkViews--socialLink--instagramIcon"></div>
                <div class="sideBarContainer__mapInfo__linkViews--socialLink--telegramIcon"></div>
            </div>
            <div class="sideBarContainer__mapInfo__linkViews--viewsCheck">
                <div class="sideBarContainer__mapInfo__linkViews--viewsCheck--viewsCount">31 views</div>
                <div class="sideBarContainer__mapInfo__linkViews--viewsCheck--lastCheck">last check was at 11.32 PM</div>
            </div>
        </div>
    </div>
    <div class="sideBarContainer__tools">
        <div class="sideBarContainer__tools__myLocationButton">
            <div class="sideBarContainer__tools__myLocationButton--icon"></div>
        </div>
        <div class="sideBarContainer__tools__leftButtons">
            <div class="sideBarContainer__tools__leftButtons__addMarkerButton"></div>
            <div class="sideBarContainer__tools__leftButtons__addLayerButton"></div>
        </div>
        <div class="sideBarContainer__tools__rightButtons">
            <div class="sideBarContainer__tools__rightButtons__previewButton"></div>
            <div class="sideBarContainer__tools__rightButtons__shareButton"></div>
        </div>
    </div>
</div>